@import "~nti-style-common";

.video-resources-video-contents {
	$gap: ((20 / 974) / 2) * 100%;

	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
	padding: rem-calc(0 0 10px);

	& > .video-resource-container {
		$percent: (25% - ($gap * 2));
		margin: rem-calc(15px) round($gap) 0;
		flex: 0 1 $percent;
		max-width: $percent;//FireFox can't even.
	}

	.empty-contents {
		flex: 1 1 auto;
		padding: 1rem 0;
		color: $secondary-grey;
		text-align: center;
	}
}
