@import "~@nti/style-common";

.video-embed-input-container {
	.icon-close {
		display: none;
	}

	.video-embed-input {
		box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.25);
	}
}

.video-embed-input {
	background: white;
	width: rem-calc(375px);
	position: relative;

	.picker {
		padding: rem-calc(10px 10px 20px);
	}

	h1 {
		text-align: center;
		font-size: 1.25rem;
		color: var(--primary-grey);
	}

	label span {
		display: block;
		font-size: 0.625rem;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--secondary-grey);
	}

	input {
		width: 100%;
		padding: rem-calc(4px 2px);
		font-size: 0.875rem;
	}

	.dialog-buttons {
		background: var(--panel-background);
	}

	.saving-mask {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background: white;
		opacity: 0;
		transition: opacity 0.2s;

		.loading-spinner {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -12px;
			margin-left: -12px;
		}

		&.saving {
			opacity: 1;
			bottom: 0;
		}
	}

	.error {
		font: normal bold 0.625rem/1 var(--body-font-family);
		color: var(--primary-red);
		background: none;
		text-transform: uppercase;
	}
}
