@import "~nti-style-common";

.html5-video-wrapper {
	&.fullscreen {
		width: 100vw;
		height: 100vh;
		background: black;
		display: flex;
		flex-direction: column;
		align-items: stretch;

		video {
			flex: 1;
			position: static !important;
			width: auto !important;//override any set height
			height: auto !important;//override any set width
		}
	}

	.controls {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
}
