.edit-video {
	margin-bottom: -40px;

	.video-editor {
		display: flex;
		flex-direction: column;
		height: 100%;
		background: white;

	.editor-container {
	  overflow: auto;
	  flex: 1 1 auto;
	  padding-top: 20px;

	  .editor-wrapper {
		  max-width: 703px;
		  margin: auto;
	  }
	}
  }

  .video-embed-input {
	  width: 100%;
	  display: flex;
	  flex-direction: column;
	  height: 100%;
	  .picker {
		  flex: 1;
	  }
  }
}

.embed {
	height: 100%;
}
.editor {
	height: calc(100% - 112px);
}
