@import "~nti-style-common";

.video-more-controls-menu {
	width: 150px;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.top-level {
		.more-control-menu-item {
			display: flex;
			padding: 0.5rem 1rem;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;

			font-size: 0.875rem;

			.option-label {
				flex: 1 1 auto;
			}

			.option-value, i {
				color: $tertiary-grey;
				flex: 0 0 auto;
			}

			i {
				flex: 0 0 auto;
			}
		}
	}

	.sub-level {
		display: none;

		.back {
			padding: 0.5rem 1rem;
			color: $tertiary-grey;
			font-size: 0.875rem;
			cursor: pointer;
		}

		.sub-level-container {
			max-height: 100px;
			overflow-x: auto;
		}

		li {
			padding: 0.5rem 1rem 0.5rem 2rem;
			font-size: 0.875rem;
			cursor: pointer;

			i {
				width: 1rem;
				display: inline-block;
			}

			&.selected {
				padding-left: 1rem;
			}

			&:last-of-type {
				padding-bottom: 1rem;
			}
		}
	}

	&.speed, &.captions {
		.top-level {
			display: none;
		}

		.sub-level {
			display: block;
		}
	}
}
