@import "~@nti/style-common";

.nti-slider {
	position: relative;
	height: 1rem;

	$range-handle-size: 1rem;
	$range-handle-hover-size: 1.25rem;
	$range-handle-color: #fff;
	$range-handle-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.19);

	@mixin thumb () {
		-webkit-appearance: none;
		width: $range-handle-size;
		height: $range-handle-size;
		border-radius: 50%;
		background: $range-handle-color;
		box-shadow: $range-handle-box-shadow;
		transition: width 0.2s, height 0.2s;

		&:hover {
			width: $range-handle-hover-size;
			height: $range-handle-hover-size;
		}
	}

	@mixin readOnlyThumb () {
		display: none;
	}

	@mixin track () {
		-webkit-appearance: none;
		background: transparent;
		border: none;
		border-radius: 0;
		cursor: pointer;
	}

	input[type='range'] {
		position: relative;
		-webkit-appearance: none;
		background: transparent;
		height: 100%;
		width: 100%;
		outline: none;
		padding: 0;
		margin: 0;
		top: -2px;

		&::-webkit-slider-thumb {
			@include thumb();
		}

		&::-webkit-slider-runnable-track {
			@include track();
		}

		&::-moz-range-thumb {
			@include thumb();
		}

		&::-moz-range-track {
			@include track();
		}

		&::-ms-thumb {
			@include thumb();
		}

		&::-ms-track {
			@include track();
		}
	}

	&.no-thumb {
		input[type='range'] {
			&::-webkit-slider-thumb {
				@include readOnlyThumb();
			}

			&::-webkit-slider-runnable-track {
				@include track();
			}

			&::-moz-range-thumb {
				@include readOnlyThumb();
			}

			&::-moz-range-track {
				@include track();
			}

			&::-ms-thumb {
				@include readOnlyThumb();
			}

			&::-ms-track {
				@include track();
			}
		}
	}

	.track {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: rem-calc(6px 0);
		display: flex;

		.upper, .lower {
			height: 0.25rem;
		}

		.upper {
			flex: 1 1 auto;
			background-color: rgba(255, 255, 255, 0.3);
			border-radius: 0 4px 4px 0;
		}

		.lower {
			flex: 0 0 auto;
			background-color: rgba(255, 255, 255, 1);
			border-radius: 4px 0 0 4px;
		}
	}
}
