@import "~@nti/style-common";

.video-more-control {
	.inline-flyout {
		.inner-flyout {
			background: var(--primary-grey);
			color: white;
			border-radius: 4px;
			top: auto;
			right: -0.25rem;
			bottom: 100%;

			&.open::after {
				top: 100%;
				right: 0.65rem;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-top-color: var(--primary-grey);
				border-width: 6px;
			}

		}
	}
}
