@import "~nti-style-common";

.video-control-scrubber {
	position: relative;

	.nti-slider {
		.track .lower {
			background-color: $primary-blue;
		}
	}

	.video-loading-progress {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
	}
}
