@import "~nti-style-common";

.upper-video-controls {
	display: flex;
	align-items: center;
	padding: 1rem;

	.spacer {
		flex: 1 1 auto;
	}

	.video-volume-control {
		flex: 0 0 auto;
	}

	.video-control-full-screen {
		flex: 0 0 auto;
	}
}
