@import '~@nti/style-common';

.video-controls-mask {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	background-size: cover;

	&.no-sources {
		cursor: default;
	}

	&.small {
		.play-button {
			width: 2.5rem;
			height: 2.5rem;
		}
	}

	.play-button {
		width: 5rem;
		height: 5rem;
		background-size: contain;
		background-image: url('./assets/play.svg');
		filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.5));
	}

	.unable-to-play {
		color: white;
	}
}
