@import '~@nti/style-common';

.video-mute-unmute-control {
	width: 1.5rem;
	height: 1.5rem;

	.icon {
		width: 100%;
		height: 100%;
		display: inline-block;
		background-size: contain;
		background-image: url('../assets/audio.svg');
		cursor: pointer;

		&.muted {
			background-image: url('../assets/mute.svg');
		}
	}
}
