@import '~@nti/style-common';

.video-volume-control {
	display: flex;
	align-items: center;
	padding-right: 0.5rem;
	width: 2rem;
	overflow: hidden;
	transition: width 0.2s;

	&:hover,
	&.is-touch {
		width: 20%;
		min-width: 7rem;
	}

	.video-mute-unmute-control {
		flex: 0 0 auto;
		margin-right: 0.5rem;
	}

	.video-volume-slider-control {
		flex: 1 1 auto;
		min-width: 5rem;
	}
}
