.video-poster {
	position: relative;
	background-color: var(--panel-background);
}

.asset {
	width: 100%;

	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.badges {
	position: absolute;
	top: 15px;
	right: 15px;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #6d7278;
	height: 4px;

	& .progress {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		background: var(--secondary-green);
	}
}

.video-poster.thumbnail .button {
	& .play {
		display: inline-block;
		width: 24px;
		height: 24px;
		background-size: contain;
		background-image: url('./assets/play-icon.svg');
	}

	& .label {
		display: none;
	}
}

.video-poster.poster .button {
	display: block;
	position: relative;
	overflow: hidden;
	line-height: 0;
	border-radius: 5em;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow:
		inset 0 0 0 1px rgba(255, 255, 255, 0.15),
		0 0 3px 0 black;

	& .play {
		display: inline-block;
		float: left;
		border-radius: 50px;
		margin: 0.2em;
		width: 43px;
		height: 43px;
		background-image: url('./assets/play.png');
		background-size: cover;
	}

	& .label {
		display: block;
		overflow: hidden;
		vertical-align: bottom;
		padding: 0 1.5em 0 0.5em;
		margin-left: 50px;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: #fff;
		font-size: 1.1rem;
		line-height: 2.75em;
	}
}

@media (max-width: 480px) {
	.badges {
		top: 5.4px;
		right: 5.4px;
	}
}
